{% extends 'base/base.html' %}
{% load bootstrap4 %}

{% block navbar %}
{% include 'base/navbar.html' %}
{% endblock %}

{% block content %}
<div class="d-flex flex-column px-3 px-sm-5 py-3 py-sm-4 bg-white w-100" style="max-width: 650px;">
  <div class="d-flex flex-column">
    <div class="modal-header border-0 flex-wrap" style="font-size: 17px;">
      <span class="font-weight-bold">Sign in to continue</span>
      <span class="">Not a member yet? <a class="text-info font-weight-bold" href="{% url 'register' %}">Register
          now</a></span>
    </div>
    <div class="modal-body pt-0 pt-sm-3">
      {% for error in login_form.non_field_errors %}
      {% bootstrap_alert error alert_type='danger' %}
      {% endfor %}
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {% for field in login_form.visible_fields %}
        {% if field.has_error %} {{ field.errors }} {% endif %}
        {% bootstrap_field field show_label=False show_help=False%}
        {% endfor %}
        <div class="mb-4">
          <button type="submit" class="btn btn-info text-uppercase w-100">Login Now</button>
        </div>
        <div class="text-center">
          <a class="text-dark" href="" style="text-decoration: underline;">Forgot your
            password</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}