{% extends 'base/base.html' %}
{% load bootstrap4 %}

<!-- Button trigger modal -->
{% block content %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
  Launch AUTH modal
</button>
{% endblock %}

<!-- Modal -->
{% block modal %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
  <button class="position-absolute btn btn-lg bg-white rounded-0" type="button" data-dismiss="modal" style="right: 0;">
    <span>&times;</span>
  </button>
  <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;">
    <div class="modal-content border-0 rounded-0 px-3 px-sm-5 py-3 py-sm-4">
      <div class="modal-header border-0 flex-wrap" style="font-size: 17px;">
        <span class="font-weight-bold">Sign in to continue</span>
        <span class="">Not a member yet? <a class="text-info font-weight-bold" href="">Register now</a></span>
      </div>
      <div class="modal-body pt-0 pt-sm-3">
        {% for error in login_form.non_field_errors %}
        {% bootstrap_alert error alert_type='danger' %}
        {% endfor %}
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          {% for field in login_form.visible_fields %}
          {% if field.has_error %} {{ field.errors }} {% endif %}
          {% bootstrap_field field show_label=False show_help=False%}
          {% endfor %}
          <div class="mb-4">
            <button type="submit" class="btn btn-info text-uppercase w-100">Login Now</button>
          </div>
          <div class="text-center">
            <a class="text-dark" href="" style="text-decoration: underline;">Forgot your
              password</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}