{% extends 'base/base.html' %}
{% load bootstrap4 %}

{% block navbar %}
{% include 'base/navbar.html' %}
{% endblock %}

{% block content %}
<div class="d-flex flex-column px-3 px-sm-5 py-3 py-sm-4 bg-white w-100" style="max-width: 650px;">
  <div class="d-flex flex-column">
    <div class="modal-header border-0 flex-wrap" style="font-size: 17px;">
      <span class="font-weight-bold">Register with your email</span>
      <span class="">Are you a member? <a class="text-info font-weight-bold" href="{% url 'login' %}">Login
          now</a></span>
    </div>
    <div class="modal-body pt-0 pt-sm-3">
      {% for error in registration_form.non_field_errors %}
      {% bootstrap_alert error alert_type='danger' %}
      {% endfor %}
      <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {% for field in registration_form.visible_fields %}
        {% if field.has_error %} {{ field.errors }} {% endif %}
        {% bootstrap_field field error_css_class='is-invalid' show_label=False show_help=False%}
        {% endfor %}
        <div class="mb-4">
          <button type="submit" class="btn btn-info text-uppercase w-100">Create your account</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}