{% load static %}
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<title>{% block title %} Revvviews - Project Peer Reviewing {% endblock %}</title>

{% include 'base/navbar.html' %}

<div class="d-flex justify-content-center position-relative" style="top: 70px;">
  {% block content %}
  {% endblock %}
</div>

{% include 'auth/auth-modal.html' %}

{% block scripts %}
{% bootstrap_javascript jquery='full'%}
<script src="{% static 'scripts.js' %}"></script>
<script>
  var lastNav = $(".navbar-collapse li:last");
  var reviewForm = $("#review:hidden");
  var voteButton = reviewForm.prev();

  if ('{{ user.is_authenticated }}' === 'False') {
    lastNav.children("a").click((event) => {
      event.preventDefault();
      lastNav.prev().children("a").click();
    });
    voteButton.click((event) => {
      lastNav.prev().children("a").click();
    });
  } else {
    voteButton.click((event) => {
      $(event.target).hide(2);
      reviewForm.removeClass('d-none').addClass('d-flex');
    });
  }
</script>
{% endblock %}