{% load cloudinary %}
<header class="fixed-top">
  <nav class="position-relative navbar navbar-expand-md navbar-light border-bottom p-3 p-md-0"
    style="background-color:#f4f7f6;height:70px;">
    <button class="navbar-toggler border-0 rounded-0 px-0" type="button" data-toggle="collapse" data-target="#navDrop">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="position-absolute" style="top:12px;left:50%;transform:translateX(-50%);">
      <a class="text-decoration-none text-dark font-weight-bold" href="{% url 'home' %}"
        style="font-size:26px;">revvviews</a>
    </div>
    <div class="collapse navbar-collapse" id="navDrop">
      <form class="form-inline pl-4" action="{% url 'search' %}" method="GET">
        <input class="form-control rounded-0 w-100" type="search" placeholder="Search" name="project">
      </form>
      <ul class="list-unstyled d-flex ml-auto mb-0 pr-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item align-self-center px-md-2">
          <div class="dropdown">
            <a class="text-uppercase text-decoration-none text-dark font-weight-bold" href="{% url 'profile' user.username %}"
              data-toggle="dropdown">{{ user.username }}&nbsp;
              {% if user.profile.avatar %}
              {% cloudinary user.profile.avatar width=27 height=27 %}
              {% else %}
              {% cloudinary 'revvviews/avatars/default-user_lrifiv.png' width=27 height=27 %}
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'profile' user.profile.username %}">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
        </li>
        {% else %}
        <li class="nav-item text-uppercase align-self-center px-md-2">
          <a class="text-decoration-none text-dark font-weight-bold" href="{% url 'login' %}" role="button"
            data-toggle="modal" data-target="#loginModal">Register / Log in </a>
        </li>
        {% endif %}
        <li class="d-none d-md-flex text-center text-uppercase" style="height:70px;width:185px;">
          <a class="btn btn-info h-100 rounded-0 font-weight-bold" href="{% url 'submit' %}"
            style="font-size:14px;line-height:28px;">Submit your project!</a>
        </li>
      </ul>
    </div>
  </nav>
</header>