{% extends 'base/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block navbar %}
{% include 'base/navbar.html' %}
{% endblock %}

{% block content %}
<div class="d-flex flex-column px-md-5" style="max-width:1050px;font-size:15px;">
  <div class="d-flex flex-column">
    <div class="position-relative">
      <a class="position-absolute w-100 h-100" href="{{ project.live_link }}" target="_blank" style="z-index:3;"></a>
      <img class="w-100 img-fluid" src="{{ project.screenshot.url }}" alt="{{ project.title }}" width="918" height="656"
        style="z-index:1;max-width:100%; object-fit:cover;object-position:center;">
    </div>
    <button class="btn btn-block btn-info p-0 border-0 rounded-0 shadow-none font-weight-bold" style="height:80px;">VOTE
      NOW</button>
  </div>

  <div class="d-flex flex-column p-4 bg-white">
    <div class="d-flex justify-content-between flex-wrap mb-2">
      <h1 class="font-weight-bold m-0" style="font-size:21px;">{{ project.title }}</h1>
      <span class="text-uppercase mt-1">{{ project.timestamp|timesince }}</span>
    </div>
    <p class="mb-2">by
      <a href="{% url 'profile' project.profile.username %}">{{ project.profile.display_name }}</a>
    </p>
    <span>{{ project.description }}</span>
  </div>

  <div class="d-flex flex-column my-4">
    <div class="d-flex px-4 align-items-center bg-white" style="height:80px;">
      <span class="text-uppercase">Votes</span>
    </div>
    <ul class="list-unstyled">
      {% for review in project.reviews.all %}
      <li class="d-flex justify-content-between align-items-center mt-1 py-3 px-4 bg-white" style="height:80px;">
        <div class="d-flex align-items-center">
          <div class="mr-3">
            <a href="{% url 'profile' review.profile.username %}">
              <img class="rounded-0" src="{{ review.profile.avatar.url }}" alt="{{ review.profile.display_name }}"
                width="50" height="50">
            </a>
          </div>
          <div class="d-flex">
            <span class="font-weight-bold my-3">{{ review.profile.display_name }}</span>
            <span class="font-weight-bold my-3">{{ review.profile.url }}</span>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <ul class="d-none d-sm-flex align-items-center list-unstyled" style="height:40px;">
            <li class="text-center border border-dark rounded-circle h-100 mr-1" style="width:40px;">
              {{ review.design }}</li>
            <li class="text-center border border-dark rounded-circle h-100 mr-1" style="width:40px;">
              {{ review.usability }}</li>
            <li class="text-center border border-dark rounded-circle h-100" style="width:40px;">
              {{ review.content }}</li>
          </ul>&nbsp;
          <div class="text-right" style="min-width:74px;line-height:50px;font-size:30px;">
            <span style="height:50px;">4.67</span>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="d-flex flex-column">
    <div class="d-flex px-4 align-items-center bg-white" style="height:80px;">
      <span class="text-uppercase">Credits</span>
    </div>
    <ul class="list-unstyled">
      <li class="d-flex justify-content-between align-items-center mt-1 py-3 px-4 bg-white">
        <div class="d-flex">
          <div class="mr-3">
            <a href="{% url 'profile' project.profile.username %}">
              <img class="rounded-0" src="{{ project.profile.avatar.url }}" alt="{{ project.profile.display_name }}"
                width="50" height="50">
            </a>
          </div>
          <div class="d-flex align-items-center">
            <span class="font-weight-bold my-1">{{ project.profile.display_name }}</span>
            <span class="font-weight-bold my-1">{{ project.profile.url }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}